.project-card {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;

    &__image-section {
        display: flex;
        justify-content: center;
        font-size: 3.125rem;
        color: #181818;
        min-height: 150px;
        align-items: center;
        background: #c4c4c4;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__content-section {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 8px;
        word-break: break-word;
        word-wrap: break-word;
    }

    &__description {
        font-size: .875rem;
        word-break: break-word;
        word-wrap: break-word;
    }

    &__pill-section {
        margin-top: 16px;
        display: inline-flex;
        flex-wrap: wrap;
    }

    &__organization {
        margin-bottom: 8px;
        font-style: italic;
        font-weight: 300;
    }
}
