.social-btn {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 9px;
    border-radius: 30%;
    color: $white;
    transition: all 0.25s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.45);
    }
}
