.projects-section {
    .swiper-slide {
        width: 300px;
        min-height: 450px;
    }
}
.projects-wrapper {
    @include breakpoint(small) {
        padding: 50px 0;
    }
}
@import '../../core-components/Swiper/Swiper.scss';
@import '../../core-components/Pill/Pill.scss';
