.projects-section {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    @include breakpoint(medium) {
        grid-template-columns: auto auto auto auto;
    }
    grid-gap: 1rem;
}

.projects-wrapper {
    padding: 50px 0;
}
@import '../../core-components/Swiper/Swiper.scss';
@import '../../core-components/Pill/Pill.scss';
