@keyframes scroll-down {
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.hero {
    position: relative;
    background-color: #0f3460;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__title {
        font-weight: 300;
        font-size: 2.375rem;
        color: $white;
        margin-bottom: 12px;
        line-height: 1.67;

        @include breakpoint(medium) {
            font-size: 3rem;
        }
    }

    &__description {
        font-size: 1.125rem;
        color: $white;
        line-height: 1.67;
        font-weight: 200;

        @include breakpoint(medium) {
            font-size: 1.125rem;
        }
    }

    &__content-wrapper {
        padding: 0 16px;

        @include breakpoint(medium) {
            padding: 0 180px;
        }
    }

    &__cta {
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 24px;
        margin: 16px 0;
        border-radius: 24px;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1;
    }

    &__scroll-btn {
        font-size: 2.5rem;
        color: $white;
        position: absolute;
        bottom: 0;
        z-index: 2;
        animation: scroll-down 2s infinite;
    }
}
