@import './variables.scss';
@import './mixins.scss';

/* Essential core components */
@import '../core-components/Button/Button.scss';
@import '../core-components/Section/Section.scss';
@import '../core-components/ShowcaseCard/ShowcaseCard.scss';
@import '../core-components/ProjectCard/ProjectCard.scss';
@import '../core-components/ProgressBar/ProgressBar.scss';

/* Components */
@import '../components/Header/Header.scss';
@import '../components/Hero/Hero.scss';
@import '../components/AboutSection/AboutSection.scss';
@import '../components/SkillsSection/SkillsSection.scss';
@import '../components/ExperienceSection/ExperienceSection.scss';
@import '../components/ProjectsSection/ProjectsSection.scss';
@import '../components/Footer/Footer.scss';

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
    padding: 0 0 32px 0;
}
