$black: #000000;
$white: #ffffff;

$grey-10: #101010;
$grey-18: #181818;
$grey-20: #202020;
$grey-28: #282828;
$grey-38: #383838;
$grey-48: #484848;
$grey-50: #505050;
$grey-46: #464646;
$grey-f0: #f0f0f0;
$grey-c4: #c4c4c4;
$grey-d0: #d0d0d0;
$grey-c0: #c0c0c0;
