@keyframes animate-section {
    from {
        opacity: 0;
        transform: translateY(48px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 50px;

    @include breakpoint(large) {
        padding: 50px 0;
    }

    &.inverse {
        background-color: #0f3460;
    }

    &__title {
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 24px;
        position: relative;
        padding-bottom: 10px;

        &:after {
            content: '';
            border-bottom: 2px solid #0f3460;
            position: relative;
            display: block;
            top: -18px;
        }

        &.inverse {
            text-align: right;
        }

        &.inverse::after {
            content: '';
            border-bottom: 2px solid #0f3460;
            position: relative;
            display: block;
            top: -18px;
        }

        &-text {
            background: #16213e;
            position: relative;
            z-index: 1;
            padding-right: 16px;
            padding-left: 0;

            &.inverse {
                padding-left: 16px;
                padding-right: 0;
            }
        }
    }

    &.animate {
        animation: animate-section 1s ease-in;
    }
}
