@import '../../core-components/NavItem/NavItem.scss';
@import '../../core-components/SocialButton/SocialButton.scss';

.header {
    padding: 20px 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    transition: all 300ms ease-in-out;

    @include breakpoint(medium) {
        padding: 20px 30px;
    }

    .nav-item {
        color: $white;

        &::before {
            background-color: $white;
        }
    }

    &__profile-wrapper {
        width: 48px;
        height: 48px;
        margin-right: 1rem;
        transition: all 300ms ease-in-out;

        @include breakpoint(medium) {
            width: 64px;
            height: 64px;
        }
    }

    &__profile-image {
        width: 100%;
        border-radius: 50%;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        font-size: 1.3125rem;
        font-weight: 900;
        text-decoration: none;
        color: $white;
        transition: all 300ms ease-in-out;

        @include breakpoint(medium) {
            font-size: 1.75rem;
            margin-right: 50px;
            font-size: 1.5rem;
        }
    }

    &-work {
        &__logo-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            @include breakpoint(small) {
                flex: 1;
            }
        }
        &__menu-wrapper {
            flex: 1;
            display: none;

            @include breakpoint(large) {
                display: flex;
            }
        }
        &__menu-list {
            display: inline-flex;
            list-style-type: none;
        }
        &__menu-item {
            margin: 0 25px;
        }
        &__social-links-wrapper {
            display: flex;
            margin-left: auto;
        }
        &__social-links {
            display: inline-flex;
            list-style-type: none;
        }
        &__social-link-item {
            margin: 0 10px;
        }
    }

    &__nav-menu-mobile {
        display: block;
        background: transparent;
        border: 0;
        font-size: 1.5rem;
        color: $white;

        @include breakpoint(medium) {
            display: none;
        }
    }

    &.scroll-active {
        padding: 15px 4px;
        background: rgba(15, 52, 96, 0.25);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);

        @include breakpoint(medium) {
            padding: 15px 30px;
        }

        .header__profile-wrapper {
            width: 48px;
            height: 48px;
            margin-right: 1rem;
            transition: all 300ms ease-in-out;
        }

        .header__logo {
            font-size: 1.25rem;
            transition: all 300ms ease-in-out;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}
